@model Models.Category

@{
    ViewBag.Title = "Delete Category";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Delete", "Categories"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.Id)

    <fieldset>
        <legend>Delete Category</legend>
    
        <div class="display-label">
            @Html.DisplayFor(model => model.Name)
        </div>
            
        <p>
            <input type="submit" value="Delete Category" class="btn" />
        </p>
    </fieldset>
}
