@model List<Models.Category>

@{
    ViewBag.Title = "Manage Categories";
}
<div class="float-right">    
    @Html.ActionLink("Create Category", "CreateCategory", "Categories", null, new { @class = "btn" })
</div>
<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.Id</td>
                <td>@cat.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Categories", new { categoryId = @cat.Id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "Delete", "Categories", new { categoryId = @cat.Id }, new { @class = "btn" })
                </td>
                
            </tr>
        }
    </tbody>
</table>
