@{
    ViewBag.Title = "View your Progress";
}

@section scripts
{  
    
    <script type="text/javascript" src="~/Scripts/jChartFX/jchartfx.system.js"></script>
    <script type="text/javascript" src="~/Scripts/jChartFX/jchartfx.coreVector.js"></script>
    <script type="text/javascript" src="~/Scripts/jChartFX/jchartfx.advanced.js"></script>
    <script type="text/javascript" src="~/Scripts/charting.js"></script>
    <script type="text/javascript">

        var getGoalId = function() {
            return $('#selectedGoalId').text();
        };
        var iterations = [];

        var setStartAndEndDateRange = function(startId, endId) {
            $("#rangeStart").html("Start: " + iterations[startId].start);
            $("#rangeEnd").html("End: " + iterations[endId].end);

            $("#startIterationId").html(startId);
            $("#endIterationId").html(endId);
        };

        var GetSelectedIterationIds = function() {
            var startId = $('#startIterationId').text();
            var endId = $('#endIterationId').text();

            var ids = [];
            for (var i = startId; i <= endId; i++) {
                ids.push(iterations[i].id);
            }

            return ids;
        };

        var ProcessIterationDetails = function(startId, endId) {
            setStartAndEndDateRange(startId, endId);
            GetIterationsSummary();

            $.ajax({
                url: '@Url.HttpRouteUrl("DefaultApi", new {controller = "GoalData", Action = "GetIterationReportModel"})',
                type: 'GET',
                dataType: 'json',
                traditional: true,
                data: { iterationIds: GetSelectedIterationIds(), goalId: getGoalId() },
                success: function(data) {
                    DefineIterationSummaryChart("iterationSummaryChart", data);
                }
            });
            
            $.ajax({
                url: '@Url.HttpRouteUrl("DefaultApi", new {controller = "GoalData", Action = "GetIterationDetailsReport"})',
                type: 'GET',
                dataType: 'json',
                data: { goalId: getGoalId(), iterationIds: GetSelectedIterationIds() },
                success: function (data) {
                    DefineIterationDetailChart("iterationDetailChart", data);
                }
            });
        };

        var GetIterationsSummary = function() {
            $.ajax({
                url: '@Url.Action("MultiIterationSummary", "Progress")',
                data: { goalId: getGoalId(), iterationIds: GetSelectedIterationIds() },
                traditional: true,
                success: function(data) {
                    $('#iterationSummary').html(data);
                },
            });
        };


        var clearAllFormsAndRefresh = function() {
            $('#goalselector').html("");
            $('#goalSummary').html("");
            $('#goaliterations').html("");
        };

        $(document).ready(function() {

            $.ajax({
                url: '@Url.Action("GoalSelector", "Progress")',
                success: function(data) {
                    $('#goalselector').html(data);
                },
            });

            $('#goalselector').on("change", "#goalSelectorDropDown", function() {

                $('#selectedGoalId').html($("#goalSelectorDropDown option:selected").attr("value"));

                $.ajax({
                    url: '@Url.Action("GetIterationRangeSelector", "Progress")',
                    success: function(data) {
                        $('#goaliterations').html(data);

                        $.ajax({
                            url: '@Url.HttpRouteUrl("DefaultApi", new {controller = "GoalData", Action = "GetIterationDetailInfo"})',
                            type: 'GET',
                            dataType: 'json',
                            data: { goalId: getGoalId() },
                            success: function(data) {

                                var numberIterations = data.Iterations.length - 1;

                                $.each(data.Iterations, function(key, item) {
                                    iterations.push({
                                        id: item.IterationId,
                                        start: item.StartDate,
                                        end: item.EndDate,
                                    });
                                });

                                $('#h-slider').slider({
                                    range: true,
                                    min: 0,
                                    max: numberIterations,
                                    values: [0, numberIterations],
                                    slide: function(event, ui) {
                                        ProcessIterationDetails(ui.values[0], ui.values[1]);
                                    }
                                });

                                ProcessIterationDetails(0, numberIterations);
                            }
                        });
                    }
                });

                $.ajax({
                    url: '@Url.Action("GoalSummary", "Progress")',
                    data: { goalId: $("#goalSelectorDropDown option:selected").attr("value") },
                    success: function(data) {
                        $('#goalSummary').html(data);
                    },
                });
            });

        });
    </script>    
}

@section breadcrumbs
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Progress</li>
    </ul>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@Html.Hidden("selectedGoalId")
@Html.Hidden("startIterationId")
@Html.Hidden("endIterationId")

<div class="container">
    <div class="row">
        <div class="col-lg-6 marginColumn">
            <div id="goalselector"></div>
            <div id="goalSummary"></div>            
        </div>
        
        <div class="col-lg-5">
            <div id="goaliterations"></div>            
            <div id="iterationSummary"></div>            
        </div>
    </div>
    
    <div class="row">
        <div id="iterationSummaryChart" class="chartArea"></div>                                  
    </div>
    
    <div class="row">
        <div id="iterationDetailChart" class="chartArea"></div>                                  
    </div>
</div>

