@model GoalViewModel

@{
    ViewBag.Title = "Edit Goal";

    var cats = new SelectList(Model.Categories, "Id", "Name");
}

@section breadcrumbs
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Goals", "Index", "GoalManagement")</li>
        <li class="active">Edit</li>
    </ul>
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@Html.Partial("_HexColourPicker")

@Html.RenderResources("errors")

<div class="row">
    <div class="col-lg-6">
        <div class="well">
            @using (Html.BeginForm("Edit", "GoalManagement", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                for (int i = 0; i < Model.Categories.Count; i++)
                {
                    @Html.HiddenFor(x => x.Categories[i].Id)     
                    @Html.HiddenFor(x => x.Categories[i].UserId)     
                    @Html.HiddenFor(x => x.Categories[i].Name)     
                }

                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserId)

                <fieldset>

                    @Html.BootStrapEditorAndLabelFor(model => model.Name, 3, 8)
                    @Html.BootStrapEditorAndLabelFor(model => model.ShortName, 3, 8)

                    @Html.BootStrapDropDownListForAndLabelFor(model => model.CategoryId, cats, "Category", 3, 8)
                    
                    @Html.BootStrapEditorAndLabelFor(model => model.HexColour, new { autocomplete = "off", @class = "colourpicker" }, 3, 8)
                    @Html.BootStrapEditorAndLabelFor(model => model.StartDate, new { autocomplete = "off" }, 3, 8)
                    @Html.BootStrapDropDownListForAndLabelEnumFor(model => model.GoalDurationTypeId, typeof(GoalDurationType), "Duration", 3, 8)
                    @Html.BootStrapEditorAndLabelFor(model => model.UnitDescription, 3, 8)
                    @Html.BootStrapDropDownListForAndLabelEnumFor(model => model.GoalTypeId, typeof(GoalType), "Goal Type", 3, 8)
                    @Html.BootStrapDropDownListForAndLabelEnumFor(model => model.GoalBehaviourTypeId, typeof(GoalBehaviourType), "Goal behaviour", 3, 8)

                    @Html.BootStrapEditorAndLabelFor(model => model.ChangeValue, 3, 8)

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-3">
                            <input type="submit" value="Save Goal" class="btn btn-success" />
                            @Html.ActionLink("Edit Iterations", "iterations", "GoalManagement", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

