@using Web.Models
@model Models.IterationDetail

<div class="row">
    <div class="well">
        @using (Html.BeginForm("Delete", "Tracker", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            <fieldset>
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.GoalId)
                @Html.HiddenFor(m => m.IterationId)
                @Html.HiddenFor(m => m.Date)
                @Html.HiddenFor(m => m.EntryId)
                
                <h3>Goal: @Model.GoalName</h3>
                
                @Html.BootStrapReadonlyEditorAndLabelFor(m => m.Value, 3, 8, string.IsNullOrWhiteSpace(Model.Units) ? "Value" : Model.Units)

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-3">
                        <input type="submit" value="Delete Entry" class="btn btn-danger" id="deleteValue" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

