@model GoalIterationModel

<div class="row">
    <div class="well">
        @using (Html.BeginForm("Add", "Tracker", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            <fieldset>
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.GoalId)
                @Html.HiddenFor(m => m.IterationId)
                @Html.HiddenFor(m => m.CurrentDate)

                <h3>Update Entry</h3>
                @Html.BootStrapEditorAndLabelFor(m => m.NewValue, 3, 8, string.Format("update {0}", @Model.Units).Trim())

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-3">
                        <input type="submit" value="Update" class="btn btn-success" id="addNewValue" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

