@using Models
@model List<Models.Goal>

@{
    ViewBag.Title = "Manage Goals";
}

<div class="float-right">
    @Html.ActionLink("Create Goal", "CreateGoal", "Goals", null, new { @class =  "btn" })
</div>  
<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>So Far</th>
            <th>Target</th>
            <th>Are we there yet?</th>
        </tr>
    </thead>
    @foreach (Goal goal in Model)
    {
        <tr>
            @Html.HiddenFor(g => goal.Id)
            <td>@goal.Name</td>
            <td>@goal.Category.Name</td>                       
        </tr>
    }
</table>    