<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Goal Management</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
        
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
    <body>
    
    <div class="navbar navbar-default navbar-fixed-top">        
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Goal Tracking", "Index", "Home", null, new { @class = "navbar-brand" })
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    @Html.LiNavActionLink("Tracker", "Index", "Tracker")
                    @Html.LiNavActionLink("Progress", "Index", "Progress")
                    @Html.LiNavActionLink("Manage Categories", "Index", "Categories")
                    @Html.LiNavActionLink("Manage Goals", "Index", "GoalManagement")
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>           
        </div>
    </div>
    
        <div class="container" id="body-content">
            @RenderSection("breadcrumbs", false)

            @RenderBody()            
        </div>

        <footer>
            <div class="container">
                <p>Made by <a href="http://www.houseofhawkins.com">Jon Hawkins, House of Hawkins</a></p>      
            </div>
        </footer>
        @Scripts.Render("~/bundles/scripts")

        @RenderSection("scripts", false)
        @Html.RenderResources("bottomScripts")
</body>
</html>